<!DOCTYPE html>
<%
list = []; for (i = 0; i < 10; i++) { list.push(i * 200); };
list = list.map(function(x) { return function() { count=x; }});
permutation(list);
%>
<% permutation([function() { ws = ""; }, function() { ws = " "; }]); %>
<% repeat(count, function() { %><div class='a'></div><%= ws %><%}) %>
