<!DOCTYPE html>
<style>
<% permutation([function() { %>
  .a .c
<% }, function() { %>
  .b ~ .c
<% }, function() { %>
  .c
<% }]) %>
  {
    width: 100px;
    height: 100px;
    background-color: red;
  }
</style>

<%
list = []; for (i = 0; i < 10; i++) { list.push(i * 200); };
list = list.map(function(x) { return function() { count=x; }});
permutation(list);
%>
<% repeat(count, function() { %><div class='a'><div class='b'></div><div class='c'></div></div><%}) %>
